version: "3.8"

services:
  web:
    build: .
    ports:
      - "4050:4050"
    volumes:
      - .:/app
    env_file:
      - .env
    environment:
      - FLASK_APP=app.py
      - FLASK_DEBUG=1
    restart: always
